.main-header-container {
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-around;
    background: transparent;
    padding: 10px;
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}
.nav ul li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
.nav ul li a {
    text-decoration: none;
    position: relative;
    font-size: 18px;
}
